* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font: 12px/1.5 sans-serif;
}

body {
	margin: 0 auto;
	padding: 1em 10px;
	max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

blockquote p {
	font-family: serif;
	font-style: italic;
}

blockquote cite {
	font-style: normal;
}

figure {
	margin: 0;
}

figure img {
	display: block;
}

figcaption p {
	margin-top: 0;
}

[role=banner],
[role=navigation],
[role=main],
[role=contentinfo] {
	margin: 1em 0;
	clear: both;
}

[role=banner] {}

[role=banner] h1 {
	margin: 0;
	line-height: 1.0;
}

[role=navigation] {}

[role=navigation] {
	font-size: 14px;
}

[role=navigation] ul {
	margin: 0;
	padding: 0;
}

[role=navigation] li {
	display: inline-block;
	margin-right: 5px;
}

[role=navigation] .current {
	font-weight: bold;
}

[role=main] {}

[role=contentinfo] {}

.vcard .tel .type,
.vcard .email .type {
	display: none;
}

.img-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
	
.img-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.img-full,
.img-full img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-full figcaption {
	text-align: center;
}

@media only screen and (min-width:500px) {
	.upsell {
	}

	.upsell article {
		padding: 0 10px;
		display: inline-block;
		width: 49%;
	}
}

/* Tablet/Netbook */
@media only screen and (min-width:500px) and (max-width:799px) {
	.upsell article:nth-child(odd) {
		padding-left: 0;
	}
	
	.upsell article:nth-child(even) {
		padding-right: 0;
	}
}

@media only screen and (min-width:800px) {
	.upsell {
		display: flex;
	}
	
	.upsell article {
		flex: 1;
		display: block;
	}

	.upsell article:first-child {
		padding-left: 0;
	}
	
	.upsell article:last-child {
		padding-right: 0;
	}
}

/* Standard screen */
@media only screen and (min-width:1024px) {
}