---
layout: default
title: Welcome
pagename: home
---

<article>
    <div id="intro">
        <h1>{{ page.title }}</h1>

        <p>If you have been suffering from back pain in San Francisco, don't wait another second to begin your road to recovery! At San Francisco Upper Cervical Chiropractic, our chiropractic techniques can assist patients with the rediscovery of health and wellness that had been previously known but long lost.</p>
    </div>

    <div id="makeapptcta">
        <h2>Book your upper cervical <span>appointment today</span></h2>

        <ul>
            <li><a href="mailto:{{site.email}}">Email</a></li>
            <li><a href="tel:{{ site.tel.areacode }}-{{ site.tel.prefix }}-{{ site.tel.suffix }}" class="icon-phone">{{ site.tel.areacode }}-{{ site.tel.prefix }}-{{ site.tel.suffix }}</a></li>
        </ul>
    </div>
</article>

<aside class="upsell items-{{ site.data.upsells | size }}">
    {% for upsell in site.data.upsells %}
    {% include upsell.html upsell=upsell %}
    {% endfor %}
</aside>

<aside class="testimonial">
    <h1>Testimonials</h1>

    {% assign first_testimonal = site.data.testimonials | first %}
    {% include testimonial.html testimonial=first_testimonal %}

    <a href="/testimonials/" class="more">See all testimonials</a>
</aside>
