<ul id="navlinks">
    <li><a href="/"{% if page.url == "/index.html" %} class="current"{% endif %}>Home</a></li>
    <li><a href="/about/"{% if page.url contains "/about/" %} class="current"{% endif %}>About</a></li>
    <li><a href="/what-we-do/"{% if page.url contains "/what-we-do/" %} class="current"{% endif %}>What We Do</a></li>
    <li><a href="/case-studies/"{% if page.url contains "/case-studies/" %} class="current"{% endif %}>Case Studies</a></li>
    <li><a href="/testimonials/"{% if page.url contains "/testimonials/" %} class="current"{% endif %}>Testimonials</a></li>
</ul>
