<!DOCTYPE html>
<!--[if lte IE 8]> <html class="no-js oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} &raquo; {{ site.name }}</title>
    <meta name="description" content="{{ page.meta.description }}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="/css/dev.css"> -->
</head>
<body id="{{ page.pagename }}">

    <nav role="navigation">
        <a href="#main" id="skip">Jump to Content</a>
        {% include dev-nav.html %}
    </nav>

    <header role="banner">
        <h1>
            <img src="/img/logo-sfucc.png" alt="{{ site.name }} logo" class="logo" width="65" height="64">
            <a href="/">San Francisco <span>Upper Cervical</span> Chiropractic</a>
        </h1>
        {% if page.pagename == "home" %}
        <figure>
            <img src="img/img-banner-mobile.png" alt="">
            <figcaption>
                <p>Through the use of state-of-the-art equipment &amp; analysis, we will help you achieve your health goals!</p>
            </figcaption>
        </figure>
        
        {% endif %}
    </header>

    <main role="main" id="main">
        {% if page.pagename != "home" %}
        <h1>{{ page.title }}</h1>
        {% endif %}

        {{ content }}
    </main>

    {% include footer.html %}

    <script src="/js/sfucc.js"></script>
</body>
</html>