<!DOCTYPE html>
<!--[if lte IE 8]> <html class="no-js oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} &raquo; {{ site.name }}</title>
	<meta name="description" content="{{ page.meta.description }}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<header role="banner">
		<h1><a href="/">{{ site.name }}</a></h1>
	</header>

	<nav role="navigation">
		<ul>
			<li><a href="/index.html"{% if page.url == "/index.html" %} class="current"{% endif %}>Home</a></li>
			<li><a href="/content.html"{% if page.url == "/content.html" %} class="current"{% endif %}>About</a></li>
			<li><a href="/content.html"{% if page.url == "/content.html" %} class="current"{% endif %}>What We Do</a></li>
			<li><a href="/content.html"{% if page.url == "/content.html" %} class="current"{% endif %}>Case Studies</a></li>
			<li><a href="/content.html"{% if page.url == "/content.html" %} class="current"{% endif %}>Testimonials</a></li>
		</ul>
	</nav>

	<main role="main">
		<h1>{{ page.title }}</h1>

		{{ content }}
	</main>

	{% include footer.html %}

</body>
</html>